n8n/workflow-checkin.json
{
  "name": "Anwesenheit Checkin",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "anwesenheit-checkin",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000001",
      "name": "Webhook Checkin",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "checkin-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// Eingaben validieren: Shared-Key, TN-ID, Kurs-ID\nconst body = $input.first().json.body || $input.first().json;\n\nconst { checkinKey, tnId, tnName, kursId } = body;\n\n// Shared-Key prüfen (Env-Variable CHECKIN_KEY muss gesetzt sein)\nconst expectedKey = $env.CHECKIN_KEY;\nif (!expectedKey) {\n  throw new Error('Server-Konfigurationsfehler: CHECKIN_KEY fehlt');\n}\nif (!checkinKey || checkinKey !== expectedKey) {\n  return [{ json: { ok: false, fehler: 'Ungültiger Checkin-Schlüssel', statusCode: 403 } }];\n}\n\n// TN-ID: Pflichtfeld, nur alphanumerisch + Bindestrich/Unterstrich\nif (!tnId || typeof tnId !== 'string' || !/^[A-Za-z0-9\\-_]{1,50}$/.test(tnId.trim())) {\n  return [{ json: { ok: false, fehler: 'Ungültige oder fehlende TN-ID', statusCode: 400 } }];\n}\n\n// Kurs-ID: Pflichtfeld, selbes Muster\nif (!kursId || typeof kursId !== 'string' || !/^[A-Za-z0-9\\-_]{1,50}$/.test(kursId.trim())) {\n  return [{ json: { ok: false, fehler: 'Ungültige oder fehlende Kurs-ID', statusCode: 400 } }];\n}\n\n// Bereinigter Name (optional, max. 100 Zeichen)\nconst sauberName = tnName ? String(tnName).replace(/[<>\"'&]/g, '').trim().substring(0, 100) : '';\n\nreturn [{\n  json: {\n    ok: true,\n    tnId: tnId.trim(),\n    tnName: sauberName,\n    kursId: kursId.trim()\n  }\n}];\n"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000002",
      "name": "Eingaben validieren",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000003",
      "name": "Validierung OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 300]
    },
    {
      "parameters": {
        "operation": "readRows",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Kurse",
          "mode": "name"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000004",
      "name": "Kurse lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [900, 220],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CREDENTIAL_ID_HIER_ERSETZEN",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Prüfen ob Kurs existiert UND aktiv ist\nconst kursId = $('Eingaben validieren').first().json.kursId;\nconst kurse = $input.all();\n\nconst gefunden = kurse.find(item =>\n  item.json['Kurs-ID'] === kursId &&\n  String(item.json['Aktiv']).toLowerCase() === 'ja'\n);\n\nif (!gefunden) {\n  return [{\n    json: {\n      ok: false,\n      fehler: `Kurs \"${kursId}\" nicht gefunden oder nicht aktiv`,\n      statusCode: 404\n    }\n  }];\n}\n\nreturn [{\n  json: {\n    ok: true,\n    kursId: gefunden.json['Kurs-ID'],\n    kursName: gefunden.json['Name']\n  }\n}];\n"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000005",
      "name": "Kurs prüfen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "cond-kurs-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000006",
      "name": "Kurs gefunden?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "jsCode": "// Datum und Zeit im deutschen Format aufbereiten\nconst now = new Date();\nconst tz = 'Europe/Berlin';\n\nconst datum = now.toLocaleDateString('de-DE', {\n  timeZone: tz,\n  day: '2-digit',\n  month: '2-digit',\n  year: 'numeric'\n});\n\nconst zeit = now.toLocaleTimeString('de-DE', {\n  timeZone: tz,\n  hour: '2-digit',\n  minute: '2-digit'\n});\n\nconst timestamp = now.toISOString();\n\nconst validierung = $('Eingaben validieren').first().json;\nconst kursInfo = $('Kurs prüfen').first().json;\n\nreturn [{\n  json: {\n    'TN-ID': validierung.tnId,\n    'Name': validierung.tnName,\n    'Kurs-ID': kursInfo.kursId,\n    'Kurs-Name': kursInfo.kursName,\n    'Datum': datum,\n    'Zeit': zeit,\n    'Timestamp': timestamp\n  }\n}];\n"
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000007",
      "name": "Zeile vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1560, 140]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Anwesenheit",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "TN-ID": "={{ $json['TN-ID'] }}",
            "Name": "={{ $json['Name'] }}",
            "Kurs-ID": "={{ $json['Kurs-ID'] }}",
            "Kurs-Name": "={{ $json['Kurs-Name'] }}",
            "Datum": "={{ $json['Datum'] }}",
            "Zeit": "={{ $json['Zeit'] }}",
            "Timestamp": "={{ $json['Timestamp'] }}"
          }
        },
        "options": {}
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000008",
      "name": "Anwesenheit eintragen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1780, 140],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CREDENTIAL_ID_HIER_ERSETZEN",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: true, nachricht: 'Anwesenheit erfasst' }) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000009",
      "name": "Erfolg 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [2000, 140]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, fehler: $json.fehler || 'Fehler beim Eintragen' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000010",
      "name": "Fehler Kurs 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 320]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, fehler: $json.fehler || 'Ungültige Eingabe' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "a1b2c3d4-0001-0001-0001-000000000011",
      "name": "Fehler Validierung 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 420]
    }
  ],
  "connections": {
    "Webhook Checkin": {
      "main": [
        [
          {
            "node": "Eingaben validieren",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Eingaben validieren": {
      "main": [
        [
          {
            "node": "Validierung OK?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validierung OK?": {
      "main": [
        [
          {
            "node": "Kurse lesen",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fehler Validierung 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kurse lesen": {
      "main": [
        [
          {
            "node": "Kurs prüfen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kurs prüfen": {
      "main": [
        [
          {
            "node": "Kurs gefunden?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Kurs gefunden?": {
      "main": [
        [
          {
            "node": "Zeile vorbereiten",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Fehler Kurs 400",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Zeile vorbereiten": {
      "main": [
        [
          {
            "node": "Anwesenheit eintragen",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anwesenheit eintragen": {
      "main": [
        [
          {
            "node": "Erfolg 200",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "errorWorkflow": ""
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false,
    "instanceId": ""
  },
  "pinData": {},
  "versionId": "checkin-v1"
}
