n8n/workflow-courses.json
{
  "name": "Kurs CRUD",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "kurse",
        "responseMode": "responseNode",
        "options": {
          "allowedOrigins": "*"
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000001",
      "name": "Webhook Kurse",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 400],
      "webhookId": "kurse-webhook-001"
    },
    {
      "parameters": {
        "jsCode": "// Auth-Token prüfen und Aktion extrahieren\nconst body = $input.first().json.body || $input.first().json;\n\nconst { authToken, action } = body;\n\n// Timing-Safe-Vergleich ist in diesem Kontext nicht erreichbar;\n// einfacher String-Vergleich reicht für MVP (TLS schützt den Transport)\nconst expectedHash = $env.AUTH_HASH;\n\nif (!expectedHash) {\n  return [{ json: { ok: false, fehler: 'Server-Konfigurationsfehler: AUTH_HASH fehlt', statusCode: 500 } }];\n}\n\nif (!authToken || authToken !== expectedHash) {\n  return [{ json: { ok: false, fehler: 'Nicht autorisiert', statusCode: 401 } }];\n}\n\nconst erlaubteAktionen = ['list', 'create', 'update', 'deactivate', 'today'];\nif (!action || !erlaubteAktionen.includes(action)) {\n  return [{ json: { ok: false, fehler: `Unbekannte Aktion: ${action}`, statusCode: 400 } }];\n}\n\n// Payload für nachfolgende Nodes durchreichen\nreturn [{ json: { ok: true, action, payload: body } }];\n"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000002",
      "name": "Auth & Aktion prüfen",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 400]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "auth-cond",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equal"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000003",
      "name": "Auth OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [680, 400]
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "switch-list",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "list",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "list"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "switch-create",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "switch-update",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "switch-deactivate",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "deactivate",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "deactivate"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "switch-today",
                    "leftValue": "={{ $json.action }}",
                    "rightValue": "today",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "today"
            }
          ]
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000004",
      "name": "Switch Aktion",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3,
      "position": [900, 300]
    },
    {
      "parameters": {
        "operation": "readRows",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Kurse",
          "mode": "name"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000005",
      "name": "Sheet: Kurse lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1120, 100],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CREDENTIAL_ID_HIER_ERSETZEN",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Alle Kurse als JSON-Array aufbereiten\nconst kurse = $input.all().map(item => item.json);\nreturn [{ json: { ok: true, kurse } }];\n"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000006",
      "name": "Liste aufbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 100]
    },
    {
      "parameters": {
        "jsCode": "// Neuen Kurs anlegen: Felder validieren, Kurs-ID erzeugen falls leer\nconst payload = $input.first().json.payload;\n\nconst name = payload.name ? String(payload.name).replace(/[<>\"']/g, '').trim().substring(0, 100) : '';\nif (!name) {\n  return [{ json: { ok: false, fehler: 'Kursname ist Pflichtfeld', statusCode: 400 } }];\n}\n\n// Kurs-ID: aus Name ableiten wenn leer (Leerzeichen → Bindestrich, Umlaut-Ersatz, Großbuchstaben)\nlet kursId = payload.kursId ? String(payload.kursId).trim() : '';\nif (!kursId) {\n  kursId = name\n    .toLowerCase()\n    .replace(/ä/g, 'ae').replace(/ö/g, 'oe').replace(/ü/g, 'ue').replace(/ß/g, 'ss')\n    .replace(/[^a-z0-9]+/g, '-')\n    .replace(/^-+|-+$/g, '')\n    .substring(0, 30);\n}\n\n// Format-Check\nif (!/^[A-Za-z0-9\\-_]{1,50}$/.test(kursId)) {\n  return [{ json: { ok: false, fehler: 'Kurs-ID ungültig (erlaubt: Buchstaben, Zahlen, Bindestrich, Unterstrich)', statusCode: 400 } }];\n}\n\nconst notiz = payload.notiz ? String(payload.notiz).replace(/[<>\"']/g, '').trim().substring(0, 200) : '';\n\nconst now = new Date();\nconst erstelltAm = now.toLocaleDateString('de-DE', {\n  timeZone: 'Europe/Berlin',\n  day: '2-digit', month: '2-digit', year: 'numeric'\n});\n\nreturn [{\n  json: {\n    ok: true,\n    'Kurs-ID': kursId,\n    'Name': name,\n    'Aktiv': 'ja',\n    'Erstellt-am': erstelltAm,\n    'Notiz': notiz\n  }\n}];\n"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000007",
      "name": "Kurs vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 220]
    },
    {
      "parameters": {
        "conditions": {
          "options": { "caseSensitive": true, "leftValue": "", "typeValidation": "strict" },
          "conditions": [
            {
              "id": "create-ok",
              "leftValue": "={{ $json.ok }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "equal" }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000008",
      "name": "Create OK?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1340, 220]
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Kurse",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Kurs-ID": "={{ $json['Kurs-ID'] }}",
            "Name": "={{ $json['Name'] }}",
            "Aktiv": "={{ $json['Aktiv'] }}",
            "Erstellt-am": "={{ $json['Erstellt-am'] }}",
            "Notiz": "={{ $json['Notiz'] }}"
          }
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000009",
      "name": "Sheet: Kurs anlegen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1560, 180],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CREDENTIAL_ID_HIER_ERSETZEN",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Update-Felder vorbereiten\nconst payload = $input.first().json.payload;\n\nconst kursId = payload.kursId ? String(payload.kursId).trim() : '';\nif (!kursId) {\n  return [{ json: { ok: false, fehler: 'Kurs-ID für Update erforderlich', statusCode: 400 } }];\n}\n\nconst name = payload.name ? String(payload.name).replace(/[<>\"']/g, '').trim().substring(0, 100) : '';\nconst notiz = payload.notiz !== undefined ? String(payload.notiz).replace(/[<>\"']/g, '').trim().substring(0, 200) : null;\n\nreturn [{\n  json: {\n    ok: true,\n    kursId,\n    name,\n    notiz\n  }\n}];\n"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000010",
      "name": "Update vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 360]
    },
    {
      "parameters": {
        "operation": "updateRows",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Kurse",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Kurs-ID": "={{ $json.kursId }}",
            "Name": "={{ $json.name }}",
            "Notiz": "={{ $json.notiz }}"
          }
        },
        "options": {
          "matchingColumns": ["Kurs-ID"]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000011",
      "name": "Sheet: Kurs aktualisieren",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1340, 360],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CREDENTIAL_ID_HIER_ERSETZEN",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Kurs-ID für Deaktivierung extrahieren\nconst payload = $input.first().json.payload;\nconst kursId = payload.kursId ? String(payload.kursId).trim() : '';\n\nif (!kursId) {\n  return [{ json: { ok: false, fehler: 'Kurs-ID erforderlich', statusCode: 400 } }];\n}\n\nreturn [{ json: { ok: true, 'Kurs-ID': kursId, 'Aktiv': 'nein' } }];\n"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000012",
      "name": "Deaktivierung vorbereiten",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1120, 500]
    },
    {
      "parameters": {
        "operation": "updateRows",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Kurse",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Kurs-ID": "={{ $json['Kurs-ID'] }}",
            "Aktiv": "={{ $json['Aktiv'] }}"
          }
        },
        "options": {
          "matchingColumns": ["Kurs-ID"]
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000013",
      "name": "Sheet: Kurs deaktivieren",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1340, 500],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CREDENTIAL_ID_HIER_ERSETZEN",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "operation": "readRows",
        "documentId": {
          "__rl": true,
          "value": "={{ $env.SPREADSHEET_ID }}",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Anwesenheit",
          "mode": "name"
        },
        "options": {}
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000014",
      "name": "Sheet: Anwesenheit lesen",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1120, 640],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "CREDENTIAL_ID_HIER_ERSETZEN",
          "name": "Google Sheets"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Nur heutige Einträge zurückgeben\nconst heute = new Date().toLocaleDateString('de-DE', {\n  timeZone: 'Europe/Berlin',\n  day: '2-digit', month: '2-digit', year: 'numeric'\n});\n\nconst heut = $input.all()\n  .filter(item => item.json['Datum'] === heute)\n  .map(item => item.json);\n\nreturn [{ json: { ok: true, eintraege: heut, datum: heute } }];\n"
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000015",
      "name": "Heute filtern",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1340, 640]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, fehler: $json.fehler || 'Nicht autorisiert' }) }}",
        "options": {
          "responseCode": 401
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000016",
      "name": "Fehler Auth 401",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [900, 520]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify($json) }}",
        "options": {
          "responseCode": 200
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000017",
      "name": "Antwort 200",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1780, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ ok: false, fehler: $json.fehler || 'Fehler' }) }}",
        "options": {
          "responseCode": 400
        }
      },
      "id": "b2c3d4e5-0002-0002-0002-000000000018",
      "name": "Fehler Create 400",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1560, 280]
    }
  ],
  "connections": {
    "Webhook Kurse": {
      "main": [
        [
          { "node": "Auth & Aktion prüfen", "type": "main", "index": 0 }
        ]
      ]
    },
    "Auth & Aktion prüfen": {
      "main": [
        [
          { "node": "Auth OK?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Auth OK?": {
      "main": [
        [
          { "node": "Switch Aktion", "type": "main", "index": 0 }
        ],
        [
          { "node": "Fehler Auth 401", "type": "main", "index": 0 }
        ]
      ]
    },
    "Switch Aktion": {
      "main": [
        [
          { "node": "Sheet: Kurse lesen", "type": "main", "index": 0 }
        ],
        [
          { "node": "Kurs vorbereiten", "type": "main", "index": 0 }
        ],
        [
          { "node": "Update vorbereiten", "type": "main", "index": 0 }
        ],
        [
          { "node": "Deaktivierung vorbereiten", "type": "main", "index": 0 }
        ],
        [
          { "node": "Sheet: Anwesenheit lesen", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sheet: Kurse lesen": {
      "main": [
        [
          { "node": "Liste aufbereiten", "type": "main", "index": 0 }
        ]
      ]
    },
    "Liste aufbereiten": {
      "main": [
        [
          { "node": "Antwort 200", "type": "main", "index": 0 }
        ]
      ]
    },
    "Kurs vorbereiten": {
      "main": [
        [
          { "node": "Create OK?", "type": "main", "index": 0 }
        ]
      ]
    },
    "Create OK?": {
      "main": [
        [
          { "node": "Sheet: Kurs anlegen", "type": "main", "index": 0 }
        ],
        [
          { "node": "Fehler Create 400", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sheet: Kurs anlegen": {
      "main": [
        [
          { "node": "Antwort 200", "type": "main", "index": 0 }
        ]
      ]
    },
    "Update vorbereiten": {
      "main": [
        [
          { "node": "Sheet: Kurs aktualisieren", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sheet: Kurs aktualisieren": {
      "main": [
        [
          { "node": "Antwort 200", "type": "main", "index": 0 }
        ]
      ]
    },
    "Deaktivierung vorbereiten": {
      "main": [
        [
          { "node": "Sheet: Kurs deaktivieren", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sheet: Kurs deaktivieren": {
      "main": [
        [
          { "node": "Antwort 200", "type": "main", "index": 0 }
        ]
      ]
    },
    "Sheet: Anwesenheit lesen": {
      "main": [
        [
          { "node": "Heute filtern", "type": "main", "index": 0 }
        ]
      ]
    },
    "Heute filtern": {
      "main": [
        [
          { "node": "Antwort 200", "type": "main", "index": 0 }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "pinData": {},
  "versionId": "courses-v1"
}
